@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.content{
    height: 100vh;
    width: 100vw;
    margin-top: 10vh;

    background-image: 
         /* Darken top */
         linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%),  
         /* Darken bottom */
         linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%),  
         /* Darken left & right */
         linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.85)),  
        url("images/wall_tiny.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


.book_button{
    /*background-color: #00b4c8;;*/
    background-color: #ff9d00;
    width: 400px;
    height: 80px;
    font-size: 40px;
    border-radius: 20px;
    font-family: Jost, sans-serif;

    margin-top: 25px;
}

.barbershop_text{
    color: white;
    font-family: Jost, sans-serif;
    text-align: center;
    font-size: 80px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 600;

}

.phrase_text{

    color: white;
    font-family: Jost;
    text-align: center;
    font-size: 50px;
    padding-top: 280px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    font-weight: 600;
}


.services{
    height: 1000px;
    background-color: #eeeeee;
   /* background-image: url("custom-rbw.jpg");*/
    
}
.services-list{
    width:90%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.single-service {
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 30%;  /* Adjust width as needed */
    height: 550px; /* Height is 1/3 of width */
    border: 2px solid black; /* Thin black border */
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
}


.button-section{
    margin-top: 20px;
    margin-bottom: 5px;
    flex : 1;
    width: 100%;
}
.service_button {
    
    overflow: hidden; /* Ensures no scrollbars appear */
    /*white-space: nowrap; */ /* Prevents text from wrapping */
    background-color: black;
    letter-spacing: 1px;
    color: white;
    border: none;
    height: 80px;
    width: 80%;
    padding: 12px 12px;  /* Adjust size */
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 5px; /* Slightly rounded corners */
    transition: background-color 0.3s, transform 0.2s;
    font-family: Jost, sans-serif;
}

/* Hover Effect */
.button:hover {
    background-color: #333; /* Darker black */
    transform: scale(1.05); /* Slight zoom effect */
}

/* Active Effect (When Clicked) */
.button:active {
    background-color: #555;
    transform: scale(0.98);
}



.buffer{
    /*background-color: antiquewhite;*/
    background-color: #eeeeee;
    width: 100%;
    height: 200px;
    
}





/* Location section css */