@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.responsive-image {
    width: 100%;  /* Adjusts width to container */
    height: auto; /* Maintains aspect ratio */
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-decoration: none;
 
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 30px 5%;
}

.logo{
    width: 18%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #00b4c8;
}

button{
    padding: 9px 25px;
    background-color: #ff9d00;;
    /**background-origin: rgba(0, 136, 169, 1);*/
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    opacity: 0.85;
}
